# CROP DATA

In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_csv("apy_2 .csv",index_col=0)
df

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Karnataka,UDUPI,2005,Rabi,Horse-gram,1122.0,836.0
1,Madhya Pradesh,GWALIOR,2003,Whole Year,Brinjal,194.0,0.0
2,Andhra Pradesh,CHITTOOR,2010,Rabi,Sesamum,334.0,118.0
3,Andhra Pradesh,KRISHNA,2014,Rabi,Tomato,538.0,7289.0
4,Uttar Pradesh,SULTANPUR,2011,Rabi,Coriander,59.0,33.0
...,...,...,...,...,...,...,...
73822,Uttar Pradesh,SULTANPUR,2001,Rabi,Rapeseed &Mustard,3727.0,3239.0
73823,Chhattisgarh,DURG,2014,Rabi,Wheat,6364.0,7367.0
73824,Uttar Pradesh,RAE BARELI,2010,Summer,Moong(Green Gram),489.0,224.0
73825,Assam,KAMRUP,1998,Rabi,Wheat,6431.0,6940.0
73826,Andhra Pradesh,GUNTUR,2005,Rabi,Urad,100125.0,78298.0

In [3]:
df.shape

(73827, 7)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73827 entries, 0 to 73826
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State_Name     73827 non-null  object
 1   District_Name  73827 non-null  object
 2   Crop_Year      73827 non-null  int64
 3   Season         73827 non-null  object
 4   Crop           73827 non-null  object
 5   Area           73827 non-null  float64
 6   Production     72679 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 4.5+ MB

### To see null values

In [5]:
 df.isna().sum()

State_Name          0
District_Name       0
Crop_Year           0
Season              0
Crop                0
Area                0
Production       1148
dtype: int64

### To see null value in percentage

In [6]:
df.isna().sum()/df.shape[0]*100

State_Name       0.000000
District_Name    0.000000
Crop_Year        0.000000
Season           0.000000
Crop             0.000000
Area             0.000000
Production       1.554987
dtype: float64

In [7]:
df["Production"].mean()

442613.7775644958

In [8]:
df["Production"].median()

724.0

In [9]:
df["Production"].skew()

44.83887620478593

### Drop the rows with missing values

In [10]:
df.dropna(axis=0,inplace=True)
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Karnataka,UDUPI,2005,Rabi,Horse-gram,1122.0,836.0
1,Madhya Pradesh,GWALIOR,2003,Whole Year,Brinjal,194.0,0.0
2,Andhra Pradesh,CHITTOOR,2010,Rabi,Sesamum,334.0,118.0
3,Andhra Pradesh,KRISHNA,2014,Rabi,Tomato,538.0,7289.0
4,Uttar Pradesh,SULTANPUR,2011,Rabi,Coriander,59.0,33.0

In [11]:
df.shape

(72679, 7)

In [12]:
df.isna().sum()

State_Name       0
District_Name    0
Crop_Year        0
Season           0
Crop             0
Area             0
Production       0
dtype: int64

## Q1. Which crop are produced during the Summer Season?

In [13]:
df["Season"].unique()

array(['Rabi       ', 'Whole Year ', 'Kharif     ', 'Autumn     ',
       'Winter     ', 'Summer     '], dtype=object)

In [14]:
summer=df[df["Season"]=='Summer     ']

In [15]:
summer

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
20,Maharashtra,WARDHA,2006,Summer,Groundnut,2100.0,2700.0
23,Bihar,BEGUSARAI,2014,Summer,Maize,2057.0,8742.0
48,Odisha,SUNDARGARH,2007,Summer,Rice,2000.0,4000.0
67,Bihar,ARARIA,2000,Summer,Rice,14317.0,22609.0
82,West Bengal,DINAJPUR UTTAR,2013,Summer,Sesamum,1645.0,1009.0
...,...,...,...,...,...,...,...
73793,West Bengal,PURULIA,2004,Summer,Rice,1354.0,2836.0
73798,Odisha,JAGATSINGHAPUR,2010,Summer,Moong(Green Gram),39925.0,15970.0
73806,Uttar Pradesh,KHERI,2000,Summer,Rice,137.0,334.0
73815,Uttar Pradesh,KHERI,2008,Summer,Sunflower,3.0,6.0
73824,Uttar Pradesh,RAE BARELI,2010,Summer,Moong(Green Gram),489.0,224.0

In [16]:
summer["Crop"].unique()

array(['Groundnut', 'Maize', 'Rice', 'Sesamum', 'Wheat', 'Onion', 'Urad',
       'Peas & beans (Pulses)', 'Sunflower', 'Ragi', 'Bajra',
       'Moong(Green Gram)', 'Cotton(lint)', 'Jowar', 'Cowpea(Lobia)',
       'Tobacco', 'Horse-gram', 'Dry chillies', 'Paddy', 'Turmeric',
       'Arhar/Tur', 'Banana', 'Potato', 'Dry ginger', 'Brinjal',
       'Sugarcane', 'Other  Rabi pulses', 'Small millets',
       'Total foodgrain'], dtype=object)

## Q2. During which year did Haryana hav the highest crop production ?

In [17]:
df["State_Name"].unique()

array(['Karnataka', 'Madhya Pradesh', 'Andhra Pradesh', 'Uttar Pradesh',
       'Rajasthan', 'Assam', 'Bihar', 'Odisha', 'Chhattisgarh', 'Kerala',
       'Telangana ', 'Maharashtra', 'Nagaland', 'Puducherry', 'Gujarat',
       'Himachal Pradesh', 'Tamil Nadu', 'West Bengal',
       'Jammu and Kashmir ', 'Arunachal Pradesh', 'Uttarakhand',
       'Haryana', 'Mizoram', 'Manipur', 'Punjab', 'Jharkhand',
       'Meghalaya', 'Andaman and Nicobar Islands', 'Sikkim', 'Tripura',
       'Dadra and Nagar Haveli', 'Goa', 'Chandigarh'], dtype=object)

In [18]:
haryana=df[df["State_Name"]=="Haryana"]

In [19]:
haryana

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
77,Haryana,MEWAT,2006,Rabi,Gram,889.0,1000.0
114,Haryana,JIND,2008,Kharif,Cotton(lint),45062.0,153000.0
132,Haryana,MAHENDRAGARH,2006,Kharif,Bajra,100975.0,158000.0
162,Haryana,JHAJJAR,2002,Whole Year,Banana,103.0,0.0
185,Haryana,BHIWANI,1997,Kharif,Other Kharif pulses,8800.0,3800.0
...,...,...,...,...,...,...,...
73392,Haryana,GURGAON,1999,Whole Year,Onion,851.0,11300.0
73558,Haryana,PANIPAT,2008,Kharif,Rice,77763.0,169000.0
73621,Haryana,JHAJJAR,2004,Rabi,Wheat,84057.0,302000.0
73635,Haryana,MAHENDRAGARH,2006,Rabi,Wheat,43627.0,175000.0
73772,Haryana,JHAJJAR,2006,Rabi,Rapeseed &Mustard,41170.0,54000.0

In [20]:
haryana.groupby(["Crop_Year"])["Production"].sum().sort_values(ascending=False)

Crop_Year
2008    9647100.0
2005    9328300.0
2011    9021300.0
2003    8437562.0
2012    7996416.0
2002    7837700.0
2004    7523400.0
2007    7323500.0
1999    7188901.0
2001    7009900.0
1998    6653600.0
2006    6566600.0
2000    5872800.0
2010    5548900.0
2009    5214480.0
1997    3376800.0
Name: Production, dtype: float64

## Q3. The maximum and minimum area of production were in years ?

In [21]:
min_max=df.groupby(["Crop_Year"])["Area"].agg(["sum"]).reset_index().sort_values(by="sum")
min_max

    Crop_Year          sum
18       2015   1313314.00
17       2014  34188857.84
16       2013  41895685.00
4        2001  43603438.77
15       2012  44369268.00
10       2007  44971304.38
8        2005  45296672.88
14       2011  45835655.41
5        2002  48328531.15
6        2003  48954140.97
1        1998  49317287.00
11       2008  49604477.00
3        2000  50530198.00
12       2009  50772638.00
13       2010  50813109.78
9        2006  51393712.02
2        1999  51841049.00
7        2004  53445367.24
0        1997  68245111.00

In [22]:
min_production=min_max["sum"].min()
min_production

1313314.0

In [23]:
max_production=min_max["sum"].max()
max_production

68245111.0

## Q4. Which state in india had the second lowest corp production ? (Overall,for all years)

In [24]:
df.groupby(["State_Name"])["Production"].sum().sort_values()

State_Name
Chandigarh                     1.580450e+04
Mizoram                        4.579428e+05
Sikkim                         5.507250e+05
Dadra and Nagar Haveli         6.247060e+05
Manipur                        1.658617e+06
Arunachal Pradesh              2.035912e+06
Jharkhand                      3.319141e+06
Meghalaya                      3.639914e+06
Nagaland                       3.925012e+06
Jammu and Kashmir              4.018135e+06
Tripura                        4.278173e+06
Himachal Pradesh               5.198802e+06
Chhattisgarh                   3.132986e+07
Uttarakhand                    4.017398e+07
Odisha                         4.563306e+07
Puducherry                     7.326832e+07
Rajasthan                      8.671658e+07
Haryana                        1.145473e+08
Bihar                          1.151581e+08
Telangana                      1.202722e+08
Madhya Pradesh                 1.337226e+08
Goa                            1.421826e+08
Gujarat                        1.538659e+08
Punjab                         1.724376e+08
Andaman and Nicobar Islands    2.032759e+08
Karnataka                      2.637879e+08
Maharashtra                    3.930627e+08
Assam                          5.201106e+08
West Bengal                    5.327023e+08
Uttar Pradesh                  1.069989e+09
Tamil Nadu                     1.787126e+09
Andhra Pradesh                 3.141848e+09
Kerala                         2.299779e+10
Name: Production, dtype: float64

## Q.5 What were the top three production crops in the year 2012 ?

In [25]:
df2012=df[df["Crop_Year"]==2012]

In [26]:
df2012.groupby(["Crop"])["Production"].sum().sort_values(ascending=False)

Crop
Coconut           1.208299e+09
Sugarcane         1.143474e+08
Rice              3.371318e+07
Wheat             2.448045e+07
Potato            1.006466e+07
                      ...
Pome Granet       8.720000e+02
Blackgram         7.000000e+01
Grapes            1.800000e+01
Cardamom          1.200000e+01
other oilseeds    1.000000e+00
Name: Production, Length: 69, dtype: float64

## Q6. What is the standard deviation for Area pf Production ?

In [27]:
df["Area"].std()

49177.603127123424

## Q7. Which is the crop that gave the highest production to the state of andhra pradesh ?

In [28]:
Andra_Pradesh=df[df["State_Name"]=="Andhra Pradesh"]

In [29]:
Andra_Pradesh.groupby(["Crop"])["Production"].max().sort_values(ascending=False)

Crop
Coconut              780162000.0
Sugarcane              3697441.0
Rice                   1624324.0
Maize                   950884.0
Cotton(lint)            809620.0
                        ...
Cucumber                     0.0
Bottle Gourd                 0.0
Other Vegetables             0.0
other fibres                 0.0
Peas  (vegetable)            0.0
Name: Production, Length: 67, dtype: float64

## Q8.What is the total production of Kharif season ?

In [60]:
df["Season"].unique()

array(['Rabi       ', 'Whole Year ', 'Kharif     ', 'Autumn     ',
       'Winter     ', 'Summer     '], dtype=object)

In [61]:
Kharif = df[df["Season"]=="Kharif     "]
Kharif

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
6,Assam,KAMRUP,2006,Kharif,Niger seed,654.0,327.0
11,Madhya Pradesh,MORENA,2008,Kharif,Groundnut,139.0,126.0
18,Uttar Pradesh,KUSHI NAGAR,1997,Kharif,Groundnut,153.0,123.0
21,Karnataka,CHIKBALLAPUR,2010,Kharif,Peas & beans (Pulses),488.0,6545.0
25,Puducherry,MAHE,1998,Kharif,Tapioca,18.0,180.0
...,...,...,...,...,...,...,...
73800,Bihar,ARWAL,2003,Kharif,Sunflower,8.0,11.0
73809,Sikkim,EAST DISTRICT,2014,Kharif,Other Kharif pulses,470.0,450.0
73810,Maharashtra,WARDHA,2002,Kharif,Urad,800.0,200.0
73811,Madhya Pradesh,BURHANPUR,2011,Kharif,Rice,1550.0,2412.0
73820,Rajasthan,NAGAUR,2004,Kharif,Jowar,46356.0,19860.0

In [62]:
Kharif["Production"].sum()

1282056680.69

## Q9. Which state has the lowest area of production ?

In [63]:
df.groupby(["State_Name"])["Area"].sum().sort_values()

State_Name
Chandigarh                     2.791000e+03
Andaman and Nicobar Islands    8.531894e+04
Dadra and Nagar Haveli         1.182820e+05
Puducherry                     1.206340e+05
Goa                            2.702040e+05
Mizoram                        2.711313e+05
Sikkim                         3.922050e+05
Manipur                        6.121800e+05
Meghalaya                      1.270237e+06
Arunachal Pradesh              1.283609e+06
Tripura                        1.605874e+06
Nagaland                       1.800631e+06
Jammu and Kashmir              2.744164e+06
Jharkhand                      2.748473e+06
Himachal Pradesh               2.897344e+06
Uttarakhand                    5.714422e+06
Kerala                         8.871677e+06
Assam                          2.065623e+07
Telangana                      2.225371e+07
Chhattisgarh                   2.547540e+07
Haryana                        2.756965e+07
Tamil Nadu                     2.922639e+07
Odisha                         3.132268e+07
Punjab                         3.692255e+07
Andhra Pradesh                 3.864198e+07
Bihar                          3.881541e+07
Gujarat                        4.835700e+07
Karnataka                      5.735193e+07
West Bengal                    6.637353e+07
Rajasthan                      8.258156e+07
Maharashtra                    9.356024e+07
Madhya Pradesh                 9.968280e+07
Uttar Pradesh                  1.251196e+08
Name: Area, dtype: float64

## Q10. What is the mean for the area of production ?

In [64]:
df["Area"].mean()

12035.385977242398

## Q11. What is the only crop that has the highest production during Autumn, Summer and Winter ?

In [65]:
df["Season"].unique()

array(['Rabi       ', 'Whole Year ', 'Kharif     ', 'Autumn     ',
       'Winter     ', 'Summer     '], dtype=object)

In [66]:
x=input("Season = ")
Season=df[df["Season"]==x]
Season.groupby(["Crop"])["Production"].sum().sort_values(ascending=False)

Season =

Series([], Name: Production, dtype: float64)